#questionLabel {
  margin-top: 10px; /* Add some margin at the top */
  margin-left: 20px;
}
#responseTextbox {
  display: none;
  width: calc(100% - 120px);  /* Subtracting 10px to account for button margin */
  height: 200px;  /* Set the desired height */
  resize: none;  /* Prevent resizing of the text box */
  border: 1px solid gray;  /* Add border to the text box */
  padding: 5px;  /* Add some padding */
  margin-top: 20px; /* Add some margin at the top */
  margin-left: 20px;
}
#submitButton {
  display: none;
  margin-top: 20px; /* Add some margin at the top */
  margin-left: 20px;
  padding: 5px;
}
#ratingLabel {
  display: none;
  margin-top: 20px; /* Add some margin at the top */
  margin-left: 20px;
  color: red;
}
#nextQuestionButton {
  display: none;
  margin-top: 12px; /* Add some margin at the top */
  margin-left: 20px;
}